<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <style>
            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                margin: 0;
                padding: 0 8px;
                background-color: #f8f8f8;
            }
            footer {
                position: absolute;
                bottom: 2px;
                font-size: 70%;
                text-align: center;
                color: #669;
            }
            footer a {
                color: inherit;
            }

            img {
                display: block;
                border-radius: 4px;
            }
            span {
                color: #666;
                font-size: 140%;
                margin-bottom: 18px;
            }

            form {
                width: 100%;
                max-width: 340px;
                box-sizing: border-box;
            }

{{ if .authz_only }}
            button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #669;
                cursor: pointer;
                border: 2px solid #669;
                border-radius: 4px;
                position: relative;
                color: #fff;
                transition: .2s color, .2s background-color;
                font-size: 110%;
                padding: .4em 0;
            }
            svg {
                position: absolute;
                width: 1.7em;
                height: 1.7em;
                right: .4em;
            }
            path {
                fill: none;
                stroke: #fff;
                transition: .2s stroke;
            }
            button:focus {
                color: #669;
                background-color: #fff;
            }
            button:focus path {
                stroke: #669;
            }
{{ else }}
            label, #password {
                display: flex;
            }
            label {
                border: 0 solid #669;
                background-color: #fff;
            }
            #username {
                border-radius: 4px 4px 0 0;
                border-width: 0 1px 1px 0;
            }
            #password label {
                flex: 1 1 0;
                border-radius: 0 0 0 4px;
                border-width: 0 0 1px 0;
            }
            input {
                flex: 1 1 0;
                width: 100%;
                min-width: 4em;
                font-size: 110%;
                border: none;
                padding: .2em .5em;
                border-radius: 4px;
                color: #222;
            }

            path {
                fill: none;
            }
            label path {
                stroke: #669;
            }
            button path {
                stroke: #fff;
            }
            label svg {
                flex: 0 0 1.7em;
                height: 1.7em;
                margin: .4em 0 .4em .4em;
            }
            button svg {
                width: 1.7em;
                height: 1.7em;
            }

            button {
                flex: 0 0 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #669;
                cursor: pointer;
                border: none;
                border-radius: 0 0 4px 0;
            }

            input:focus {
                outline: none;
            }
            label:focus-within, button:focus {
                outline: none;
                z-index: 1;
                position: relative;
                box-shadow: 0px 0px 6px #99c;
            }

            button:disabled #login-icon {
                display: none;
            }
            button:not(:disabled) #loading-icon {
                display: none;
            }

            #loading-icon {
                animation: rotate 2s linear infinite;
            }
            @keyframes rotate {
                from { transform: rotate(0deg); }
                  to { transform: rotate(360deg); }
            }

            #alert {
                width: 0;
                height: 0;
                overflow: hidden;
            }

            .shaking {
                animation: shake .15s linear 3;
            }
            @keyframes shake {
                0% { transform: translateX(0); }
                25% { transform: translateX(-1%); }
                75% { transform: translateX(1%); }
                100% { transform: translateX(0); }
            }
{{ end }}
        </style>
    </head>

    <body>
        {{ if .client.IconURL }}<img src="{{ .client.IconURL }}" width="100" height="100" />{{ end }}
        <span>{{ .client.Name }}</span>

        <form method="POST" aria-label="login" onsubmit="document.getElementById('login-btn').disabled = true"{{ if .error }} class="shaking"{{ end }}>
            {{ template "formContext" . }}

            {{ if .error }}
                <div id="alert" role="alert">Error: Invalid username or password.</div>
            {{ end }}

            {{ if .authz_only }}
                <button type="submit" aria-label="login">
                    LOGIN
                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' aria-hidden="true"><path stroke-linecap='round' stroke-width='38' d='M268 112l144 144-144 144M392 256H100'/></svg>
                </button>
            {{ else }}
                <label id="username">
                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' aria-hidden="true"><path d='M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/><path d='M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z' fill='none' stroke='currentColor' stroke-miterlimit='10' stroke-width='32'/></svg>
                    {{ template "username" . }}
                </label>
                <div id="password">
                    <label>
                        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' aria-hidden="true"><path d='M218.1 167.17c0 13 0 25.6 4.1 37.4-43.1 50.6-156.9 184.3-167.5 194.5a20.17 20.17 0 00-6.7 15c0 8.5 5.2 16.7 9.6 21.3 6.6 6.9 34.8 33 40 28 15.4-15 18.5-19 24.8-25.2 9.5-9.3-1-28.3 2.3-36s6.8-9.2 12.5-10.4 15.8 2.9 23.7 3c8.3.1 12.8-3.4 19-9.2 5-4.6 8.6-8.9 8.7-15.6.2-9-12.8-20.9-3.1-30.4s23.7 6.2 34 5 22.8-15.5 24.1-21.6-11.7-21.8-9.7-30.7c.7-3 6.8-10 11.4-11s25 6.9 29.6 5.9c5.6-1.2 12.1-7.1 17.4-10.4 15.5 6.7 29.6 9.4 47.7 9.4 68.5 0 124-53.4 124-119.2S408.5 48 340 48s-121.9 53.37-121.9 119.17zM400 144a32 32 0 11-32-32 32 32 0 0132 32z' stroke-linejoin='round' stroke-width='32'/></svg>
                        {{ template "password" . }}
                    </label>
                    <button id="login-btn" type="submit" aria-label="login">
                        <svg id="login-icon" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' aria-hidden="true"><path stroke-linecap='round' stroke-width='38' d='M268 112l144 144-144 144M392 256H100'/></svg>
                        <svg id="loading-icon" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' aria-hidden="true"><path d='M434.67 285.59v-29.8c0-98.73-80.24-178.79-179.2-178.79a179 179 0 00-140.14 67.36m-38.53 82v29.8C76.8 355 157 435 256 435a180.45 180.45 0 00140-66.92' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/><path stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M32 256l44-44 46 44M480 256l-44 44-46-44'/></svg>
                    </button>
                </div>
            {{ end }}
        </form>

        <footer>
            Powered by <a href="https://github.com/macrat/lauth" rel="noreferer noopener" target="_blank">Lauth</a>
        </footer>
    </body>
</html>
